body{
	font-family: "Impact", "Charcoal";
	color: #003366;
}
h1 {
	font-size: 1.3em;
	text-align: center;
}
table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
}
tr {
	border: 1px solid #000000;
	text-align: left;
	background-color:#9FB6CD;
}
th {
	text-align: center;
	color: #ffffff;
	background-color: #003366;
}
hyperlink {
	font-family: "Times New Roman", "Serif";


}

td {
  border: 1px solid #000000;
  padding: 10px 15px;
}
